.form__header {
  display: flex;
  justify-content: right;
  background: #2371a5;
  align-items: center;
  padding: 20px;

  &_title {
    color: #ffffff;
  }

  a {
    color: white;
  }
}

@media screen and (max-width: 540px) {
  .form__header {
    padding: 20px;
  }
}

@media only screen and (min-device-width: 540px) and (max-device-width: 768px) {
  .form__header {
    padding: 24px;
  }
}
